@* Razor Page for Creating*@
@page
@model HeartDiseaseWebApp.Pages.Hearts.CreateModel
@{ }

<br>
<h2>Create heart</h2>

@if (Model.errorMessage.Length > 0)
{
    <div>@Model.errorMessage</div>
}
<form method="POST">
    <table>
        <tr>
            <td>Description</td>
            <td><input type="text" name="description" value="@Model.heart.Description"</td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" name="age" value="@Model.heart.age"</td>
        </tr>
    </table>
    <p></p>

    @if (Model.successMessage.Length > 0)
    {
        <div>@Model.successMessage.</div>
    }
    <input type="submit" value="Add" class="btn btn-primary" />
</form>
