@* Razor Page for displaying all data*@
@page
@model HeartDiseaseWebApp.Pages.Hearts.IndexModel
@{
}

<br>
<h2>List Of Heart Analysis data</h2>
<a class='btn btn-primary btn-sm' href='/Hearts/Create'>New Heart data</a>

<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Is Completed</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hearts)
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.IsCompleted</td>
                <td>@item.age</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Hearts/Edit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Hearts/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
